/* 1. RESETEO */
/* 1. RESETEO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 2. HERO */
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(../back-image.png);
  background-position: center;
  background-size: cover;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
}

/* 3. NAV */
nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* LOGIN */
.login-btn {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
}

/* 4. BOTONES */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 15px 80px;
  color: #fff;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
  cursor: pointer;
}

/* HOVER */
.btn:hover {
  border-top-right-radius: 30px;
}

/* 5. CONTENIDO */
.content {
  margin-top: 10%;
  max-width: 600px;
}

.content h1 {
  font-size: 70px;
  color: #222;
}

.content p {
  margin: 10px 0 30px;
  color: #333;
}

.content .btn {
  font-size: 16px;
}

/* IMAGEN (ARREGLADA) */
.feature-img {
  width: 420px;            /* 👈 más pequeña */
  position: absolute;
  bottom: 0;
  right: 10%;
}

/* 6. ANIMACIONES */
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

/* RETARDOS */
.content p {
  animation-delay: 0.5s;
}

.content .btn {
  animation-delay: 1s;
}

.feature-img.anim {
  animation-delay: 1.5s;
}